doctype html
html
  head
    title khushals dance academy
    block scripts
    block style  
  body
    block content
    footer#footer
      | Copyright 2019 by khushalsDanceAcademy.com | All right resered.
      